@main {
    <div class="container-fluid">
        <form class="form-horizontal well">
            <legend>Edit Template</legend>
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="name"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="description"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="template">Template</label>
                <div class="controls">
                    <div class="tabbable tabs-below">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <textarea class="input-xlarge span12" id="template" rows="25"></textarea>
                            </div>
                            <div class="tab-pane">
                                This is where the preview should go
                            </div>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#">Html</a></li>
                            <li><a href="#">Preview</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
}